.part2{
    /* width:100%;
    height: 100%; */
    background-color: #654AFF;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.part2_heaader{
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap:15px;
   margin-bottom: 90px;
   margin-top: 90px;
   
    
}
.part2_innerheader{
    font-size: 50px;
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.part2_smallheader{
    font-size: 14px;
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.part2_boxesdiv{
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap:40px;
    margin-bottom: 90px;
}
.part2_mainboxes{
    width:300px;
    height: 350px;
    position: relative;
    transform-style: preserve-3d;
}
.part2_boxes{
    width:300px;
    height: 350px;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    left:0%;
    top: 0%;
    backface-visibility: hidden;
    transform:rotateY(0deg);
   
}
.part2_boxesback{
    width:300px;
    height: 350px;
    background-color: white;
    border-radius: 15px;
    position: relative;
    transform: rotateY(180deg);
    left:0%;
    top: 0%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.part2_boxesround{
    width:70px;
    height: 70px;
    border-radius: 100%;
    background-color:#F0EDFF;
    position: absolute;
    left:40%;
    top:-7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.part2_boxesround img{
    border-radius: 100%;  
}
.part2_boxcontent{
    margin-top: 50px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.part2_boxheading{
    color:#654AFF;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top:30px;
}
.part2_boxmatter{
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
    line-height: 25px;
    text-align: center;
}
.part2_boxmorebutton{
    width:100px;
    height: 40px;
    border:2px solid #654AFF;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    cursor: pointer;
}
.part2_boxclosebutton{
    width:100px;
    height: 40px;
    border:2px solid #654AFF;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    cursor: pointer;
}
.part2_backboxcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.part2_backboximg{
    width:300px;
    height: 300px;
}
.part2_backboximg img{
    width:100%;
    height: 100%;
    border-radius: 15px;
}














.third
{
    /* width:100%;
    height:88svh;
    background-color:purple; */
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    justify-content: space-evenly;
    position:relative;
    
}
.third_img
{
    width:322px;
    height:500px;
    background-color: aqua;
    background-image: url("images/anime.png");
    background-size: 100% 100%;
    animation-name: imgx;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes imgx
{
    0%
    {
        transform: translateY(23px) scaleX(12px);
    }
    12%
    {
        transform: translateY(15px) scaleX(12px);
    }
    25%
    {
        transform: translateY(0px) scaleX(12px);
    }
    50%
    {
        transform: translateY(0px);
    }
    75%
    {
        transform: translateY(15px);
    }
    100%
    {
        transform: translateY(23px);
    }
}

.third_con
{
    width:776px;
    height:470px;
    /* background-color: chartreuse; */
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-evenly ;
}
.third_tech
{
    color:blue;
    /* font-size: 12px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.third_vir
{
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
}
.third_some
{
    width:70%;
    height:22%;
    /* background-color: aliceblue; */
    display: flex;
    flex-wrap: wrap;
}
.third_under
{
    width:67%;
    height:0px;
    border:1px solid black;
}
.third_opt 
{
    width:645px;
    height:118px;
    /* background-color: black; */
    display: flex;
    position: relative;
    flex-direction: column;
}
.third_ab
{
    width:600px;
    height:100px;
    /* background-color: rgb(3, 3, 86); */
    display: flex;
    flex-direction: row;
    align-items: start;
    /* justify-content:start; */
    justify-content: space-evenly;
}
.third_icon
{
    width:46px;
    height:46px;
    border-radius: 50%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: -79%;
}
.third_icon1
{
    width:33px;
    height: 33px;
    background-image: url("images/bulb.png");
    background-size: 100% 100%;
    border-radius: 50%;
    /* margin-left: -79%; */
}
.third_icon2
{
    width:33px;
    height: 33px;
    background-image: url("images/voice.png");
    background-size: 100% 100%;
    border-radius: 50%;
}
.third_mat
{
    width:333px;
    height:55px;
    /* background-color: brown; */
    position: absolute;
    margin-left: -18%;
    margin-top: -1%;
}
.part4_heaader{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
    gap:15px;
    margin-bottom: 90px;
    margin-top: 90px;
    
     
 }
 .part4_innerheader{
     font-size: 50px;
     color:blue;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     text-align: center;
 }
 .part4_smallheader{
     font-size: 14px;
     color:black;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     text-align: center;
 }
 .part4_div
 {
    width:66%;
    height:60%;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap:12px;
 }
 .part4_div1
 {
    width:86%;
    height:17%;
    background-color:#F2F2F2;
    color: black;
    margin : 8px 0px;
    display: flex;
    align-items: center;
 }
 .part4_div2
 {
    width:86%;
    height:17%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
 }
 .part4_div3
 {
    width:86%;
    height:10%;
    background-color:whitesmoke;
    display: flex;
    align-items: center;
 }
 .part4_one
 {
    color:blue;
    font-size: 32px;
 }
 .part4_two
 {
    color:blue;
    font-size: 32px;
 }
 .part4_three
 {
    color:blue;
    font-size: 32px;
 }
.part4_div1:hover
{
    background-color: blue;
    color:azure;
}
.part4_one:hover
 {
    color:white;
 }
 .part4_div2:hover
{
    background-color: blue;
    color:azure;
}
.part4_two:hover
 {
    color:white;
 }
 .part4_div3:hover
{
    background-color: blue;
    color:azure;
}
.part4_three:hover
 {
    color:white;
 }
.part4_empty
{
    width:1px;
    height:34px;
    background-color: #E5E5E5 ;
}